.main-create-employee{
    width: 100%;
}
.container-1-create-employee{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.container-2-create-employee{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.container-2-create-employee ,fieldset{
    margin-top: 20px;
}