.main-create-employee{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.container-all-create-employee{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.title-create-employee{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-create-employee{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    padding: 2%;
    height: 50px;
}

.input-date{
    margin-bottom:-20px !important;  /* Assurer un espacement du haut */
    
}


@media (max-width: 950px) {
    .container-create-employee{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        padding: 2%;
        height: auto;
        width: 95%;
    }
}