.container-dateTimePicker {
  width: 260px;
  height: 180px;
  background-color: chartreuse;
  padding: 10px;
  display: flex;
  flex-direction: column;

  margin-left: 20px;
  margin-bottom: 20px;
}

.header-dateTimePicker {
  display: flex;
  flex-direction: row;
  align-items: top;
  align-content: center;
  justify-content: space-between;
  position: relative;
}
.header-dateTimePicker,
p {
  font-size: 15px;
  margin: 0;
}

.icon-header-dateTimePicker {
  color: #c7c7c7;
  cursor: pointer;
}

.icon-header-dateTimePicker:hover {
  color: black;
}
.month-header-dateTimePicker {
  font-size: 15px;
  cursor: pointer;
}
.month-header-dateTimePicker:hover {
  text-decoration: underline;
}
.month-list-dateTimePicker {
  list-style: none;
  position: absolute;
  top: 70%;
  left: 44%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0;
  max-height: 160px;
  overflow-y: auto;
  z-index: 100;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: max-content;
  border-radius: 5px;
}
.li-month-list-dateTimePicker {
  padding: 5px;
  cursor: pointer;
}
.li-month-list-dateTimePicker:hover {
  background-color: lightgray;
}
.year-list-dateTimePicker {
  list-style: none;
  position: absolute;
  top: 70%;
  left: 75%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0;
  max-height: 160px;
  overflow-y: auto;
  z-index: 100;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  width: max-content;
  border-radius: 5px;
}

.container-days-dateTimePicker {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
  align-content: center;
  margin-top: 10px;
}
.days-week-number-dateTimePicker {
  font-size: 10px;
  border: 0.5px solid gray;
  padding: 4px;
  height: 16px;
  width: 27.6px;
  align-content: center;
  text-align: center;
  background-color: aliceblue;
}
.days-number-dateTimePicker {
  font-size: 10px;
  border: 0.5px solid gray;
  padding: 4px;
  height: 16px;
  width: 27.6px;
  align-content: center;
  text-align: center;
  background-color: aliceblue;
  cursor: pointer;
}
.days-number-dateTimePicker:hover {
  background-color: lightgray !important;
}
